$light-primary: #8839ef;
$light-fg: #4c4f69;
$light-bg: #cdd6f4;
$light-bg-darker: #e6e9ef;
$light-bg-darkest: #dce0e8;


$dark-primary: #cba6f7;
$dark-fg: #cdd6f4;
$dark-bg: #1e1e2e;
$dark-bg-darker: #181825;
$dark-bg-darkest: #11111b;
