.typing-effect {
  margin-top: 2rem;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-left: 2rem;
  padding: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Ubuntu Sans", sans-serif;
  letter-spacing: 0.05em;

  &.light:hover {
    text-shadow: 0 0 10px rgba(203, 166, 247, 1),
      0 0 20px rgba(203, 166, 247, 0.8),
      0 0 30px rgba(203, 166, 247, 0.6),
      0 0 40px rgba(203, 166, 247, 0.4);
  }

  &.dark:hover {
    text-shadow: 0 0 10px rgba(136, 57, 239, 1),
      0 0 20px rgba(136, 57, 239, 0.8),
      0 0 30px rgba(136, 57, 239, 0.6),
      0 0 40px rgba(136, 57, 239, 0.4);
  }

  &:hover {
    cursor: pointer;
    font-size: 4.5rem;

    @for $i from 1 through 15 {
      @media (max-width: #{825 - 10 * $i}px) {
        font-size: #{4.5 - 0.1 * $i}rem;
      }
    }
  }

  .cursor {
    display: inline-block;
    margin-left: 2px;
    width: 2px;
    animation: blink 0.7s steps(1) infinite;
    vertical-align: bottom;
    height: 1.2em;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  @for $i from 1 through 15 {
    @media (max-width: #{825 - 10 * $i}px) {
      margin-left: #{2 - 0.1 * $i}rem;
      font-size: #{4 - 0.1 * $i}rem;
    }
  }
}
