@use "../../_variables.scss" as *;

.main {
  position: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  display: flex;
  overflow-y: auto;

  &.light {
    background-color: $light-bg-darkest;
    color: $light-fg;
  }

  &.dark {
    background-color: $dark-bg-darkest;
    color: $dark-fg;
  }


  .main-content {
    text-align: left;
    padding: 2rem;
    flex: 1;

    .home {
      flex: 1;
      margin-top: 5rem;
      margin-bottom: 5rem;

      @for $i from 1 through 15 {
        @media (max-width: #{825 - 10 * $i}px) {
          margin-top: #{5 - 0.1 * $i}rem;
          margin-bottom: #{5 - 0.3 * $i}rem;
        }
      }
    }

    @media (max-width: 500px) {
      padding: 0rem;
    }
  }


}
