@use "../../_variables.scss" as *;

.main {
  min-height: 100vh;
  display: flex;
  // justify-content: center;
  // align-items: center;

  &.light {
    background-color: $light-bg-darkest;
    color: $light-fg;
  }

  &.dark {
    background-color: $dark-bg-darkest;
    color: $dark-fg;
  }


  .main-content {
    margin-top: 4rem;
    text-align: left;
    padding: 2rem;

    .home {
      margin-left: 1rem;
      margin-top: 5rem;
      margin-bottom: 5rem;
    }

  }

}
